a[href="#"]:hover {
  color: rgb(193, 26, 26);
}

a[href="/"]:hover {
  color: rgb(20, 160, 160);
}

a[href="#asas"]:hover {
  color: rgb(182, 95, 33);
}

a[href="http://google.com"]:hover {
  color: rgb(151, 17, 135);
}

a[href="#"]:active {
  font-size: 40px;
}

a[href="/"]:active {
  font-size: 15px;
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
  font-size: 24px;
  color: red;
}

.test::first-line {
  font-style: italic;
}

.test::before {
  content: "###";
}

.test::after {
  content: "###";
}

::selection {
  background-color: black;
  color: rgb(177, 177, 177);
}
