h1, h2, h3 {
    text-align: center;
}

img {
    height: 250px;
    width: 450px;
}

.stadt {
    text-transform:uppercase;
}

#bdtg {
    text-decoration-line:underline;
}

p {
    text-align: center;
}

.clima {
    font-size: 25px;
    color: rgb(53, 53, 193);
    font-style: oblique;
}